.profileForm {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: linear-gradient(
        45deg,
        rgba(243, 245, 248, 0.4),
        rgba(226, 238, 233, 0.4)
      );;
}

.custom-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-control {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.form-group-horizontal {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.form-label-horizontal {
    min-width: 100px; /* Adjust as needed */
}

.submit-button {
    background-color: #7282b3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #b8c1f6;
}

.datetime-controls {
    display: flex;
    gap: 10px;
}

.datetime-control {
    flex-grow: 1; /* Ensures that the controls take up available space */
}

/* Responsive design */
@media (max-width: 768px) {
    .profileForm {
        width: 90%;
        padding: 15px;
    }
    .form-control {
        font-size: 0.9rem;
    }
    .submit-button {
        padding: 8px 15px;
    }
}